<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Add this to <head> -->

    <!-- Load required Bootstrap and BootstrapVue CSS -->
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />

    <!-- Load polyfills to support older browsers -->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver" crossorigin="anonymous"></script>

    <!-- Load Vue followed by BootstrapVue -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>
    <!-- Load the following for BootstrapVueIcons support -->
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue-icons.min.js"></script>
    
    <link type="text/css" rel="stylesheet" href="./fukulab.css">
    <title>SUN FukuLab</title>
</head>
<body>
    <div id="app">
        <div class="fixed-top">
            <b-navbar variant="light" type="light">
                <b-navbar-brand>SUN FukuLab</b-navbar-brand>
                <b-navbar-nav>
                    <b-nav-item href="./index.html">Home</b-nav-item>
                    <b-nav-item href="./index.html?prof">Profile</b-nav-item>
                </b-navbar-nav>
            </b-navbar>
        </div>

        <b-container>
            <b-row>
                <b-col md="9" id="sections">
                    <h1>{{contents.title}}</h1>
                    <bv-section v-for="sect in contents.sections" :id="sect.id" :sections="sect"></bv-section>
                </b-col>

                <b-col md="3" id="toc">
                    <div class="position-fixed">
                        <h5>ToC</h5>
                        <b-nav :vertical="true">
                            <b-nav-item v-for="sect in contents.sections" :id="`to_${sect.id}`"  :href="`#${sect.id}`">{{sect.title}}</b-nav-item>
                        </b-nav>
                    </div>
                </b-col>
            </b-row>
        </b-container>
    </div>

    <script src="./lib/bibtexParse.js"></script>
    <script src="./js/bibtex.js"></script>
    <script src="./js/contents.js"></script>
    <script src="./js/app.js"></script>
</body>
</html>